In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

In [2]:
spark = (SparkSession
        .builder
        .appName('AuthorsAges')
        .getOrCreate())

22/10/04 15:12:08 WARN Utils: Your hostname, 127.0.0.1 resolves to a loopback address: 127.0.0.1; using 192.168.35.50 instead (on interface en0)
22/10/04 15:12:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/04 15:12:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
data_df = spark.createDataFrame([('Brooke', 20), ('Denny', 31), ('Jules', 30), ('TD', 35), ('Brooke', 25)], ['name', 'age'])

In [8]:
avg_df = data_df.groupBy('name').agg(avg('age'))

In [9]:
avg_df.show()

+------+--------+
|  name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Denny|    31.0|
| Jules|    30.0|
|    TD|    35.0|
+------+--------+

In [10]:
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# define schema for our data
schema = StructType([
   StructField("Id", IntegerType(), False),
   StructField("First", StringType(), False),
   StructField("Last", StringType(), False),
   StructField("Url", StringType(), False),
   StructField("Published", StringType(), False),
   StructField("Hits", IntegerType(), False),
   StructField("Campaigns", ArrayType(StringType()), False)])

#create our data
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter", "LinkedIn"]],
       [2, "Brooke","Wenig","https://tinyurl.2", "5/5/2018", 8908, ["twitter", "LinkedIn"]],
       [3, "Denny", "Lee", "https://tinyurl.3","6/7/2019",7659, ["web", "twitter", "FB", "LinkedIn"]],
       [4, "Tathagata", "Das","https://tinyurl.4", "5/12/2018", 10568, ["twitter", "FB"]],
       [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web", "twitter", "FB", "LinkedIn"]],
       [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568, ["twitter", "LinkedIn"]]
      ]

In [11]:
spark = (SparkSession
       .builder
       .appName("Example-3_6")
       .getOrCreate())

22/10/04 15:30:41 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [12]:
blogs_df = spark.createDataFrame(data, schema)

In [13]:
blogs_df.show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [14]:
print(blogs_df.printSchema())

root
 |-- Id: integer (nullable = false)
 |-- First: string (nullable = false)
 |-- Last: string (nullable = false)
 |-- Url: string (nullable = false)
 |-- Published: string (nullable = false)
 |-- Hits: integer (nullable = false)
 |-- Campaigns: array (nullable = false)
 |    |-- element: string (containsNull = true)

None

In [16]:
blogs_df.select(col('Hits') * 2).show(2)

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
+----------+
only showing top 2 rows

In [17]:
blogs_df.withColumn('Big Hitters', (expr('Hits > 10000'))).show()

+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|Big Hitters|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|      false|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|      false|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|      false|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|       true|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|       true|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|       true|
+---+---------+-------+-----------------+---------+-----+--------------------+-----------+

In [2]:
import pandas as pd

In [3]:
os.getcwd()

'/Users/hyk/Documents/LearningSparkV2/chapter3/py/src'

In [5]:
temp = pd.read_csv('../../data/sf-fire-calls.csv', nrows = 100)

In [6]:
temp

,CallNumber,UnitID,IncidentNumber,CallType,CallDate,WatchDate,CallFinalDisposition,AvailableDtTm,Address,City,...,CallTypeGroup,NumAlarms,UnitType,UnitSequenceInCallDispatch,FirePreventionDistrict,SupervisorDistrict,Neighborhood,Location,RowID,Delay
0,20110016,T13,2003235,Structure Fire,01/11/2002,01/10/2002,Other,01/11/2002 01:51:44 AM,2000 Block of CALIFORNIA ST,SF,...,NaN,1,TRUCK,2,4,5,Pacific Heights,"(37.7895840679362, -122.428071912459)",020110016-T13,2.950000
1,20110022,M17,2003241,Medical Incident,01/11/2002,01/10/2002,Other,01/11/2002 03:01:18 AM,0 Block of SILVERVIEW DR,SF,...,NaN,1,MEDIC,1,10,10,Bayview Hunters Point,"(37.7337623673897, -122.396113802632)",020110022-M17,4.700000
2,20110023,M41,2003242,Medical Incident,01/11/2002,01/10/2002,Other,01/11/2002 02:39:50 AM,MARKET ST/MCALLISTER ST,SF,...,NaN,1,MEDIC,2,3,6,Tenderloin,"(37.7811772186856, -122.411699931232)",020110023-M41,2.433333
3,20110032,E11,2003250,Vehicle Fire,01/11/2002,01/10/2002,Other,01/11/2002 04:16:46 AM,APPLETON AV/MISSION ST,SF,...,NaN,1,ENGINE,1,6,9,Bernal Heights,"(37.7388432849018, -122.423948785199)",020110032-E11,1.500000
4,20110043,B04,2003259,Alarms,01/11/2002,01/10/2002,Other,01/11/2002 06:01:58 AM,1400 Block of SUTTER ST,SF,...,NaN,1,CHIEF,2,4,2,Western Addition,"(37.7872890372638, -122.424236212664)",020110043-B04,3.483333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20150004,94,2004370,Medical Incident,01/15/2002,01/14/2002,Other,01/15/2002 01:26:45 AM,5TH ST/MARKET ST,SF,...,NaN,1,MEDIC,1,3,6,South of Market,"(37.7839914857614, -122.408066547804)",020150004-94,1.250000
96,20150048,RC2,2004404,Structure Fire,01/15/2002,01/14/2002,Other,01/15/2002 06:31:24 AM,700 Block of 35TH AVE,SF,...,NaN,1,RESCUE CAPTAIN,10,7,1,Outer Richmond,"(37.7748832270511, -122.495037870754)",020150048-RC2,3.533333
97,20150048,RS1,2004404,Structure Fire,01/15/2002,01/14/2002,Other,01/15/2002 06:31:24 AM,700 Block of 35TH AVE,SF,...,NaN,1,RESCUE SQUAD,11,7,1,Outer Richmond,"(37.7748832270511, -122.495037870754)",020150048-RS1,1.933333
98,20150056,E35,2004408,Medical Incident,01/15/2002,01/14/2002,Other,01/15/2002 06:53:38 AM,100 Block of 7TH ST,SF,...,NaN,1,ENGINE,2,3,6,South of Market,"(37.7790372933741, -122.41062000696)",020150056-E35,11.916667
99,20150062,B01,2004412,Alarms,01/15/2002,01/14/2002,Other,01/15/2002 07:21:10 AM,100 Block of FRANCISCO ST,SF,...,NaN,1,CHIEF,2,1,3,North Beach,"(37.8054738067872, -122.407570127181)",020150062-B01,1.883333

In [1]:
from pyspark.sql.types import *

In [2]:
fire_schema = StructType([
    StructField('CallNumber', IntegerType(), True),
    StructField('UnitID', StringType(), True),
    StructField('IncidentNumber', IntegerType(), True),
    StructField('CallType', StringType(), True),
    StructField('CallDate', StringType(), True),
    StructField('WatchDate', StringType(), True),
    StructField('CallFinalDisposition', StringType(), True),
    StructField('AvailableDtTm', StringType(), True),
    StructField('Address', StringType(), True),
    StructField('City', StringType(), True),
    StructField('Zipcode', IntegerType(), True),
    StructField('Battalion', StringType(), True),
    StructField('StationArea', IntegerType(), True),
    StructField('Box', IntegerType(), True),
    StructField('OriginalPriority', StringType(), True),
    StructField('Priority', StringType(), True),
    StructField('FinalPriority', IntegerType(), True),
    StructField('ALSUnit', BooleanType(), True),
    StructField('CallTypeGroup', FloatType(), True),
    StructField('NumAlarms', IntegerType(), True),
    StructField('UnitType', StringType(), True),
    StructField('UnitSequenceInCallDispatch', IntegerType(), True),
    StructField('FirePreventionDistrict', IntegerType(), True),
    StructField('SupervisorDistrict', IntegerType(), True),
    StructField('Neighborhood', StringType(), True),
    StructField('Location', StringType(), True),
    StructField('RowID', StringType(), True),
    StructField('Delay', FloatType(), True)
])

In [3]:
sf_fire_file = '../../data/sf-fire-calls.csv'

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = (SparkSession
        .builder
        .appName('fire_schema')
        .getOrCreate())

22/10/20 11:05:07 WARN Utils: Your hostname, hykui-MacBookAir.local resolves to a loopback address: 127.0.0.1; using 192.168.35.67 instead (on interface en0)
22/10/20 11:05:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/20 11:05:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
fire_df = spark.read.csv(sf_fire_file, header = True, schema = fire_schema)

In [7]:
from pyspark.sql.functions import *

In [23]:
few_fire_df = (fire_df
.select('IncidentNumber', 'AvailableDtTm', 'CallType')
.where(col('CallType') != 'Medical Incident'))

In [24]:
few_fire_df.show(5, truncate=False)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
|2003301       |01/11/2002 09:46:44 AM|Alarms        |
+--------------+----------------------+--------------+
only showing top 5 rows

In [26]:
(fire_df
.select('CallType')
.where(col('CallType').isNotNull())
.agg(countDistinct('CallType').alias('DisTinctCallTypes'))
.show()
)

+-----------------+
|DisTinctCallTypes|
+-----------------+
|               30|
+-----------------+

In [27]:
(fire_df
    .select('CallType')
    .where(col('CallType').isNotNull())
    .distinct()
    .show(n = 10, truncate = False)
)

+-----------------------------------+
|CallType                           |
+-----------------------------------+
|Elevator / Escalator Rescue        |
|Marine Fire                        |
|Aircraft Emergency                 |
|Confined Space / Structure Collapse|
|Administrative                     |
|Alarms                             |
|Odor (Strange / Unknown)           |
|Citizen Assist / Service Call      |
|HazMat                             |
|Watercraft in Distress             |
+-----------------------------------+
only showing top 10 rows

In [16]:
# rename

new_fire_df = fire_df.withColumnRenamed('Delay', 'ResponseDelayedinMins')

In [32]:
(new_fire_df
.select('ResponseDelaydinMins')
.where(col('ResponseDelaydinMins') > 5)
.orderBy(col('ResponseDelaydinMins'), ascending = False)
.show(5, False)
)

+--------------------+
|ResponseDelaydinMins|
+--------------------+
|1844.55             |
|1370.2333           |
|949.11664           |
|931.45              |
|751.93335           |
+--------------------+
only showing top 5 rows

In [38]:
(new_fire_df
    .select('CallDate', 'WatchDate', 'AvailableDtTm')
    .show(10, truncate=False))

+----------+----------+----------------------+
|CallDate  |WatchDate |AvailableDtTm         |
+----------+----------+----------------------+
|01/11/2002|01/10/2002|01/11/2002 01:51:44 AM|
|01/11/2002|01/10/2002|01/11/2002 03:01:18 AM|
|01/11/2002|01/10/2002|01/11/2002 02:39:50 AM|
|01/11/2002|01/10/2002|01/11/2002 04:16:46 AM|
|01/11/2002|01/10/2002|01/11/2002 06:01:58 AM|
|01/11/2002|01/11/2002|01/11/2002 08:03:26 AM|
|01/11/2002|01/11/2002|01/11/2002 09:46:44 AM|
|01/11/2002|01/11/2002|01/11/2002 09:58:53 AM|
|01/11/2002|01/11/2002|01/11/2002 12:06:57 PM|
|01/11/2002|01/11/2002|01/11/2002 01:08:40 PM|
+----------+----------+----------------------+
only showing top 10 rows

In [17]:
fire_ts_df = (new_fire_df
    .withColumn('IncidentDate', to_timestamp(col('CallDate'), 'MM/dd/yyyy'))
    .drop('CallDate')
    .withColumn('OnWatchDate', to_timestamp(col('WatchDate'), 'MM/dd/yyyy'))
    .drop('WatchDate')
    .withColumn('AvailableDtTS', to_timestamp(col('AvailableDtTm'), 'MM/dd/yyyy hh:mm:ss a'))
    .drop('AvailableDtTm')
)

In [45]:
(fire_ts_df
    .select('IncidentDate', 'OnWatchDate', 'AvailableDtTS')
    .show(5, False)
)

+-------------------+-------------------+-------------------+
|IncidentDate       |OnWatchDate        |AvailableDtTS      |
+-------------------+-------------------+-------------------+
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 01:51:44|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 03:01:18|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 02:39:50|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 04:16:46|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 06:01:58|
+-------------------+-------------------+-------------------+
only showing top 5 rows

In [46]:
(fire_ts_df
    .select(year('IncidentDate'))
    .distinct()
    .orderBy(year('IncidentDate'))
    .show()
)

+------------------+
|year(IncidentDate)|
+------------------+
|              2000|
|              2001|
|              2002|
|              2003|
|              2004|
|              2005|
|              2006|
|              2007|
|              2008|
|              2009|
|              2010|
|              2011|
|              2012|
|              2013|
|              2014|
|              2015|
|              2016|
|              2017|
|              2018|
+------------------+

In [12]:
(fire_ts_df
    .select('CallType')
    .where(col('CallType').isNotNull())
    .groupBy('CallType')
    .count()
    .orderBy('count', ascending = False)
    .show(n = 10, truncate = False)
)

+-------------------------------+------+
|CallType                       |count |
+-------------------------------+------+
|Medical Incident               |113794|
|Structure Fire                 |23319 |
|Alarms                         |19406 |
|Traffic Collision              |7013  |
|Citizen Assist / Service Call  |2524  |
|Other                          |2166  |
|Outside Fire                   |2094  |
|Vehicle Fire                   |854   |
|Gas Leak (Natural and LP Gases)|764   |
|Water Rescue                   |755   |
+-------------------------------+------+
only showing top 10 rows

In [13]:
import pyspark.sql.functions as F

In [18]:
(fire_ts_df
    .select(F.sum('NumAlarms'), F.avg('ResponseDelayedinMins'),
            F.min('ResponseDelayedinMins'), F.max('ResponseDelayedinMins'))
    .show()
)

+--------------+--------------------------+--------------------------+--------------------------+
|sum(NumAlarms)|avg(ResponseDelayedinMins)|min(ResponseDelayedinMins)|max(ResponseDelayedinMins)|
+--------------+--------------------------+--------------------------+--------------------------+
|        176170|         3.892364154521585|               0.016666668|                   1844.55|
+--------------+--------------------------+--------------------------+--------------------------+

2018년도 신고 전화 유형

In [23]:
(fire_ts_df
    .columns)

['CallNumber',
 'UnitID',
 'IncidentNumber',
 'CallType',
 'CallFinalDisposition',
 'Address',
 'City',
 'Zipcode',
 'Battalion',
 'StationArea',
 'Box',
 'OriginalPriority',
 'Priority',
 'FinalPriority',
 'ALSUnit',
 'CallTypeGroup',
 'NumAlarms',
 'UnitType',
 'UnitSequenceInCallDispatch',
 'FirePreventionDistrict',
 'SupervisorDistrict',
 'Neighborhood',
 'Location',
 'RowID',
 'ResponseDelayedinMins',
 'IncidentDate',
 'OnWatchDate',
 'AvailableDtTS']

In [32]:
(fire_ts_df
    .select('IncidentDate', 'CallType')
    .where('year(IncidentDate) = 2018')
    .groupBy('CallType')
    .show()
)

AttributeError: 'GroupedData' object has no attribute 'show'

In [34]:
(fire_ts_df
    .select('CallType')
    .where(col('CallType').isNotNull())
    .agg(countDistinct('CallType').alias('DisTinctCallTypes'))
    .show()
)

+-----------------+
|DisTinctCallTypes|
+-----------------+
|               30|
+-----------------+

2018년에 신고 전화가 가장 많았던 달

In [40]:
(fire_ts_df
    .filter('year(IncidentDate) = 2018')
    .select(month(col('IncidentDate')).alias('Month'))
    .groupBy('Month')
    .count()
    .orderBy(col('count'), ascending = True)
    .show(1)
)

+-----+-----+
|Month|count|
+-----+-----+
|   11|  199|
+-----+-----+
only showing top 1 row

2018년에 가장 많은 신고가 들어온 SF 지역

In [51]:
(fire_ts_df
    .select('Neighborhood')
    .groupBy('Neighborhood')
    .count()
    .orderBy(col('count'), ascending = False)
    .show()
)

+--------------------+-----+
|        Neighborhood|count|
+--------------------+-----+
|          Tenderloin|22785|
|     South of Market|16623|
|             Mission|15912|
|Financial Distric...|11912|
|Bayview Hunters P...| 9616|
|     Sunset/Parkside| 6984|
|    Western Addition| 6591|
|            Nob Hill| 5810|
|      Outer Richmond| 4604|
|        Hayes Valley| 4357|
| Castro/Upper Market| 4176|
|  West of Twin Peaks| 4005|
|         North Beach| 3800|
|           Chinatown| 3731|
|           Excelsior| 3643|
|     Pacific Heights| 3622|
|              Marina| 3415|
|        Potrero Hill| 3321|
|      Bernal Heights| 3260|
|        Inner Sunset| 2959|
+--------------------+-----+
only showing top 20 rows

In [55]:
(fire_ts_df
    .select(year('IncidentDate').alias('Year'))
    .groupBy('Year')
    .agg()
)

AttributeError: 'GroupedData' object has no attribute 'show'

In [58]:
(fire_ts_df
    .filter(year('IncidentDate') == 2018)
    .select('Neighborhood', 'ResponseDelayedinMins')
    .groupBy('Neighborhood')
    .agg(F.avg('ResponseDelayedinMins'))
    .show()
)

+--------------------+--------------------------+
|        Neighborhood|avg(ResponseDelayedinMins)|
+--------------------+--------------------------+
|        Inner Sunset|         4.438095217981896|
|      Haight Ashbury|         4.266428579390049|
|        Lincoln Park|        3.3111111190583973|
|           Japantown|         3.347695054526025|
|                None|         3.363333320617676|
|         North Beach|         3.889249638303534|
|   Lone Mountain/USF|        3.2472222397724786|
|    Western Addition|        3.2843276457861066|
|      Bernal Heights|        3.8464705796802745|
|         Mission Bay|         3.854868933558464|
|        Hayes Valley|        3.3703894590082037|
|Financial Distric...|         4.344084616885593|
|           Lakeshore|         3.881551365057627|
|Bayview Hunters P...|         4.620561962212182|
|   Visitacion Valley|        3.4838095208009086|
|      Inner Richmond|         4.364728709292966|
|            Nob Hill|         3.799999982320656|
|Oceanview/Merced/...|         3.947242203912289|
|      Outer Richmond|        3.6480915955346047|
|     Treasure Island|         5.453703684111436|
+--------------------+--------------------------+
only showing top 20 rows

In [59]:
(fire_ts_df
    .filter(year('IncidentDate') == 2018)
    .groupBy(weekofyear('IncidentDate'))
    .count()
    .orderBy('count', ascending = False)
    .show()
)

+------------------------+-----+
|weekofyear(IncidentDate)|count|
+------------------------+-----+
|                      22|  259|
|                      40|  255|
|                      43|  250|
|                      25|  249|
|                       1|  246|
|                      44|  244|
|                      13|  243|
|                      32|  243|
|                      11|  240|
|                       5|  236|
|                      18|  236|
|                      23|  235|
|                      42|  234|
|                       2|  234|
|                      31|  234|
|                      19|  233|
|                      34|  232|
|                       8|  232|
|                      10|  232|
|                      28|  231|
+------------------------+-----+
only showing top 20 rows

In [60]:
fire_ts_df.write.format('parquet').mode('overwrite').save('/tmp/fireServiceParquet')